:root {
  /*colors*/
  --black-color: #192328;
  --light-color: #ffd7a7;
  --white-color: #fff3f0;

  --grey-color: #999fa2;
  --dark-color: #ae3715;
  --main-color: #f07654;
  --success-color: #3baa6f;
  --success-dark-color: #0f7b41;
  --detail-color: #124e6f;

  --transition: 0.3s ease-in-out all;

  /*shadow*/

  --shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-padding-top: 240px;
}
html {
  font-size: 100%;
}
body {
  background-color: #f5df2e;
  background-image: linear-gradient(315deg, #f5df2e 0%, #f07654 74%);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Poppins";
}
.container {
  display: grid;
  place-items: center;
  height: 100vh;
  width: 100%;
}
.tasks-container {
  border-radius: 8px;
  max-width: 800px;
  min-width: 400px;
  background-color: #fff;
  padding: 1rem;
  margin-left: 10%;
  margin-right: 10%;
  box-shadow: var(--shadow);
}

.add-task {
  text-align: center;
  padding: 1rem;
}
.add-task h2 {
  font-weight: 300;
  font-size: 2rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
  color: var(--main-color);
}
.add-task input {
  padding: 0.5rem;
  color: var(--black-color);
  border: var(--main-color) 1px solid;
  border-radius: 3px 0px 0px 3px;
  width: 80%;
}
.add-task button {
  padding: 0.5rem;
  text-transform: uppercase;
  border: 1px solid var(--main-color);
  background-color: var(--main-color);
  color: var(--light-color);
  transition: var(--transition);
  border-radius: 0px 3px 3px 0px;
}
.add-task button:hover {
  background-color: transparent;
  color: var(--main-color);
}

/*Task list*/
.tasks-list {
  padding: 1rem;
  color: var(--black-color);
}
.tasks-list h2 {
  font-weight: 200;
  font-size: 1.2rem;
}
.tasks-list ul li {
  list-style: none;
  font-weight: 200;
  font-size: 1rem;
  padding: 1rem;
  margin-right: 5px;
}
.tasks-list ul li {
  display: inline-flex;
  margin: auto;
  width: 100%;
}

.tasks-list ul li .title {
  width: 80%;
}

.tasks-list button {
  background-color: transparent;
  border: none;
  margin-left: 10%;
  width: 20px;
  height: 20px;
  color: var(--success-color);
  transition: var(--transition);
}
.tasks-list button:hover {
  background-color: var(--success-color);
  color: var(--white-color);
  border-radius: 50%;
  padding-top: 0.2rem;
}
